@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #009821;
  font-family: "Zilla Slab", serif;

  color: #ffffff;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  width: 36px;
  height: 28.56px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}

.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 100px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  background: #fefefe33;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 1);
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 24px 20px 0;
  position: relative;
}
.navigation.is-open {
  background: #33ad4d;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  gap: 24px;
  padding: 20px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 579px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: #33ad4d;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
  padding: 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #fff;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #987a26;
}

.header.is-open {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 22px 40px;
    gap: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 80x;
    display: flex;
    background: #ffffff33;

    padding: 22px 100px;
  }

  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;

    flex-direction: row;

    justify-content: center;
    position: static;

    align-items: center;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 64px;
    height: 0px;
  }
  .navigation__link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fff;
    padding: 0;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/backround_hero\ \(2\).png");
  height: 804px;
  width: 375px;
  margin: auto;
  padding: 0 20px;
}

.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 552px;
}
.home-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffd88e;
  padding: 24px 0;
}
.home__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1440px;
    height: 1068px;
    background-image: url("/image/home/hero\ section\ \(1\).png");
  }

  .home-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 12px 0 40px;
  }
  .home__wrapper {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: start;
    padding-top: 400px;
    padding-left: 72px;
    width: 650px;
  }

  .home__google-button_link {
    width: 204px;
    height: 72px;
  }
}
.about {
  margin: 55px auto;
  width: 375px;
}
.about__container-top {
  display: flex;
  flex-direction: column;
  width: 375px;
  border: 1px;
  background: #ffc31c;
  padding-bottom: 40px;
}
.about-text {
  margin: auto;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  width: 346px;
  padding: 24px 0;
}
.about-text-bold {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-img {
  width: 345px;
  height: 235px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .about {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    display: flex;
    gap: 76px;
  }
  .about__container-top {
    width: 1440px;
    border: 1px;
    background: #ffc31c;
    padding-bottom: 40px;
  }
  .about-text-desk {
    display: flex;
    justify-content: space-between;
    padding: 36px 72px;
    gap: 50px;
    width: 1440px;
  }
  .about-text {
    width: 537px;
    margin: 0;
  }
  .about-img {
    width: 645px;
    height: 439px;
    margin: 0;
  }
  .about-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    width: 537px;
  }
  .about-text-bold {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.play {
  margin: 0 auto;
  width: 375px;
  padding: 63px 0;
}
.play__container-top {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 375px;
  height: 954px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/play/back\ how\ \(1\).png");
}
.play-list {
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 28px 0 380px;
}
.play-item {
  width: 375px;
  height: 80px;
  padding: 10px;
  background: #ffffff4d;
  border-radius: 10px;
}
.play-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.play-text-bold {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .play {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    display: flex;
    gap: 76px;
    padding: 200px 0 0;
  }

  .play__container-top {
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 1440px;
    padding-bottom: 40px;

    background-image: url("/image/play/how\ to\ play\ section.png");
  }
  .play-list {
    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 59px 69px;
  }
  .play-item {
    width: 749px;
    height: 104px;
    padding: 16px 8px 16px 8px;
    border-radius: 16px;
  }
  .play-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .play-text-bold {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.faq {
  margin: 0 auto;
  width: 375px;
  padding: 63px 0;
}
.faq__container-top {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 375px;
  padding-bottom: 40px;
  background: #ffc31c;
}
.faq-list {
  display: flex;
  flex-direction: column;

  gap: 15px;
  margin-top: 20px;
}
.faq-item {
  width: 375px;
  padding: 10px;
  background: #ffffff4d;
  border-radius: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
}

.toggle-button {
  background: none;
  border: none;
  width: 22px;
  height: 21px;
  padding: 0px 1px 2px 1px;
  gap: 0px;
  opacity: 0px;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #030302;
}

@media screen and (min-width: 1200px) {
  .faq {
    margin: auto;
    width: 1440px;
    display: flex;
    padding: 200px 0 0;
  }

  .faq__container-top {
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 1440px;
    padding: 0px 72px 124px;
    margin: auto;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;
    margin-top: 36px;
  }
  .faq-item {
    padding: 24px 16px;

    width: 1296px;
  }

  .faq-question {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .toggle-button {
    background: none;
    border: none;
    width: 22px;
    height: 21px;
    padding: 0px 1px 2px 1px;
    gap: 0px;
    opacity: 0px;
  }

  .faq-answer {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.features {
  margin: auto;
  width: 375px;
  padding: 55px 0;
}
.features__container-top {
  display: flex;
  flex-direction: column;
  width: 375px;
  border-radius: 16px;
  border: 1px;
  background: #c87616;
  border: 4px solid #d9d9d9;
}

.advantages-title {
  margin-top: -40px !important;
  padding-left: 25px;
}
.features-card {
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image//adv/advantage.png);

  padding: 45px 18px;
  margin: 0 7px;
  margin-bottom: 40px;
}
.reviews-card {
  width: 236px;
  height: 263px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image/Reviews/stiker2.png);

  padding: 67px 34px;
  margin: 0 7px;
  margin-bottom: 40px;
}
.features-card-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  padding: 8px 0 12px;
}
.features-card-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
}
.about__container-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features__container {
    display: none;
  }
  .features {
    margin: auto;
    width: 1440px;
    padding: 0 86px 192px;
    margin-top: 150px;
  }
  .about__container-desk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 64px 99px 0;

    width: 1296px;
  }
  .features__container {
    display: none;
  }
  .features__container-top {
    width: 1296px;

    border-radius: 8px;
  }
  .advantages-title {
    margin: -60px auto 0 !important;
  }
  .features-card {
    width: 297px;
    height: 300px;

    padding: 60px 25px;
    margin: 0 7px;
    margin-bottom: 40px;
  }
  .reviews-card {
    width: 299px;
    height: 334px;
    padding: 91px 16px 0 31px;
    margin: 0 7px;
    margin-bottom: 40px;
  }
  .features-card-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .features-card-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.gallery {
  margin: auto;
  width: 375px;

  padding: 55px 0;
}
.gallery__image {
  width: 345px;
  height: 614px;
}

.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  max-width: 370px;
  gap: 24px;
  padding-top: 24px;
}
.gallery__list {
}
.gallery__item {
  margin: 0 10px;
  width: 345px;
}
.gallery-button {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}
@media screen and (min-width: 1200px) {
  .gallery-button {
    padding-top: 56px;
    margin: auto;
  }
  .gallery {
    margin: auto;
    width: 1440px;
    padding: 0 86px 192px;
  }

  .gallery__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    width: 1199px;
    padding-top: 56px;
    max-width: 1199px;
  }

  .gallery__image {
    width: 307px;
    height: 551px;
  }
}

.footer {
  background: #ffc31c;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0 2px;
  gap: 52px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 52px;
}
.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #000;

  text-align: center;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #000;
  width: 211px;
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    text-align: end;
    gap: 52px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 386px;
  }
}
.title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image/title.png);
  width: 248px;
  height: 89px;
  display: flex;
  align-items: center;
  margin: auto;
}
.title-text {
  font-family: "Zilla Slab", serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transform: rotate(-3deg);
  width: 199px;
  height: 26px;
}
.policy-terms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: start;
  padding: 100px 15px 50px;
  background: #009821;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 24px;
}

.policy-terms-text-one {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 35px;
}

.terms-list {
  list-style-type: disc;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 35px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 176px 71px 100px;
    align-items: start;
  }
  .title {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/image/title.png);
    width: 381px;
    height: 136px;
    margin: 0;
  }
  .title-text {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-3deg);
    width: 320px;
    height: 43px;
  }
  .policy-terms-text {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 64px;
  }
  .policy-terms-text-one {
    padding-top: 64px;
  }
}
